<!-- <body>
    <div id="googleMap" class="google_canvas"></div>
</body> -->


<!-- <div *ngIf="!isUser">
  <button (click)="login()" class="btn btn-primary pull-right"> Log In Facebook </button>
<div>
<div *ngIf="isUser">
  <button (click)="login()" class="btn btn-primary pull-right"> Logout Facebook </button>
<div> -->



  <!-- <button class="btn btn-primary pull-right" (click) ='login()'>
      <span >{{!user.loggedIn && 'Login with' || 'Logout'}}
          Facebook
          <i class="fa fa-facebook-official fa-lg"></i>
      </span>
  </button> -->
Welcome {{user.firstName}}

  <!-- <button class="btn btn-primary pull-right" (click) ='login()'>
      <span ng-cloak>{{!isUserLoggedIn && 'Login with' || 'Logout'}}
          Facebook
          <i class="fa fa-facebook-official fa-lg"></i>
      </span>
  </button> -->
